*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}
:root{
    --Soft-Red: hsl(0, 94%, 66%);
    --Soft-Blue: hsl(231, 69%, 60%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}
.link a{
    padding: 6px 20px;
    font-size: 14px;
}

.login a{
    font-size: 14px;
}
.login{
    background-color: var(--Soft-Red);
    padding: 8px 20px;
    border-radius: 8px;
}
.sub{
    display: flex;
    margin-left: 90px;
    margin-right: 70px;
    align-items: center;
    justify-content: space-between;
}

.hero{
    width: 50%;
}

.hero img{
    width: 100%;
}
.move{
    padding-bottom: 25px;
}
.subs{
    width: 45%;
}

.move h2{
    font-size: 45px;
    padding-bottom: 20px;
}

.getlink{
    display: flex;
    gap: 20px;
}
.get1{
    background-color: var(--Soft-Blue);
    padding: 8px 10px;
    border-radius: 5px;
}
.get1 a{
    color: white;
}
.get2{
    background-color: whitesmoke;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(51, 49, 49);
}
.get2 a{
    color: black;
}
.ftsub{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 70px;
}
.ftsub p{
    padding-top: 20px;
}
.info img{
    width: 40%;
}
.info{
    width: 90%;
    display: flex;
    padding-top: 60px;
    padding-left: 60px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
}
.moreinfo{
    width: 50%;

}
.moreinfo h1{
    padding-bottom: 30px;
}
.moreinfo p{
    padding-bottom: 30px;
    line-height: 20px;
}
.moreinfo a{
    background-color: var(--Soft-Blue);
    padding: 12px 25px;
    border-radius: 5px;
    color: white;
}
.ext{
    padding-top: 150px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ext p{
    padding-top: 30px;
    line-height: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navtoggle{
    display: none;
}
.box{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    gap: 20px;
}
.box1 img, .box2 img, .box3 img{
    width: 30%;
}
.box1, .box2, .box3{
    background-color: white;
    box-shadow: 3px 3px 6px rgb(153, 142, 142);
    padding: 25px 5px;
    border-radius: 10px;
    font-size: 9px;
    position: relative;
}
.box1 h3, .box2 h3, .box3 h3{
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.dot img{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
}
.dot a{
    background-color: var(--Soft-Blue);
    padding: 7px 20px;
    border-radius: 3px;
    color: aliceblue;
}
.question{
    text-align: center;
    padding-top: 15rem;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
.question h1{
    padding-bottom: 20px;
}
.quest{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    /* line-height: 40px; */
    /* align-items: center; */
    
}

.quest-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quest p{
    padding-top: 30px;
}
.quest1{
    border-top: 1px solid rgb(168, 154, 154);
    border-bottom: 1px solid rgb(168, 154, 154);
    padding: 15px 0px;
}
.quest1 p{
    display: none;
}
.moreinfo2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10rem;
}
.moreinfo2 a{
    background-color: var(--Soft-Blue);
    padding: 12px 25px;
    border-radius: 5px;
    color: white;
}
#footer{
    background-color: var(--Soft-Blue);
}
.join{
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 0rem;
}
.joined{
    padding-bottom: 2rem;
    color: white;
}
.joined p{
    padding-bottom: 2rem;
    color: white;
}
.joined h1{
    color: white;
}
#email{
    padding: 10px;
    padding-right: 2rem;
    border-radius: 5px;
}
.mailsec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mailsec a{
    background-color: var(--Soft-Red);
    border-radius: 5px;
    color: white;
    padding: 9px;
}
#finalfooter{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.list a{
    color: white;
    font-size: 13px;
    padding-left: 3rem;
}
.list{
    display: flex;
}

.icon img{
    width: 60%;
}
i{
    font-size: 22px
}
.icon{
    padding-left: 5rem;
    display: flex;
    gap: 1rem;
}

.quest1.showAns p{
    display: block;
}

@media screen and (max-width:992px) {
    .links{
        padding: 40px 40px;
    }
    .sub{
        margin-left: 50px;
        margin-right: 40px;
    }
    .info{
        padding-left: 0px;
    }
    .box{
        width: 80%;
        gap: 50px;
    }
    .question{
        width: 60%;
    }
    .quest{
        width: 65%;
    }
    .join{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .mailsec{
        padding-left: 2rem;
    }
    .logo{
        width: 90%;
    }
    .icon{
        padding-left: 0rem;
    }
    
    .ftsub{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    .navtoggle{
        display: block;
    }
    .ri-close-fill{
        display: none;
    }
    .link{
        position: absolute;
        background-color: rgb(133, 129, 125);
        transform: translate(-50%, -50%);
        top: -33%;
        left: 50%;
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
        text-align: center;
        width: 65%;
        gap: 10px;
        transition: .6s;
        box-shadow: 10px 10px 40px rgb(196, 196, 196);
    }
    .link a{
        color: aliceblue;
        width: 50%;
        margin: auto;
    }
    .SBlink{
        width: 80%;
    }

    .hero img{
        width: 80%;
    }
    .list a{
        padding-left: 1rem;
    }

    .hero{
        width: 60%;
        padding-top: 30px;
    }

    .move h2{
        font-size: 30px;
    }

    .sub{
        /* display: grid;
        grid-template-columns: 1fr, 1; */
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        padding: 1px;
    }

    .subs{
         width: 80%;
         margin-left: auto;
         margin-right: auto;
         padding-top: 3rem;
    }

    .getlink{
        justify-content: center;
    }
    .info{
        width: 90%;
    }
}

@media screen and (max-width:572px){
    .hero{
        width: 100%;
    }
    .SBlink{
        display: grid;
        grid-template-columns: 1fr, 1;
        gap: 20px;
    }
    .info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 95%;
    }
    .moreinfo{
        padding-top: 3rem;
    }
    .tab1 img{
        width: 90%;
    }
    .moreinfo{
        width: 70%;
    }
    .info img{
        width: 70%;
        padding-top: 4rem;
    }
    .ext{
        width: 80%;
    }
    .box{
        display: grid;
        grid-template-columns: 1fr, 1;
        width: 70%;
    }
    #finalfooter{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
    }
    .icon img{
        width: 100%;
        
    }
    .icon{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        width: 30%;
    }
    .list{
        margin-left: auto;
        margin-right: auto;
        line-height: 6rem;
    }
    .mailsec{
        flex-direction: column;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0rem;
    }
    .icon img{
        width: 100%;
    }
    .box{
        gap: 50px;
        width: 90%;
    }.SBlinks{
        width: 80%;
    }
    .question{
        padding-top: 6rem;
    }
}
@media screen and (max-width:480px){
    .subs{
        width: 90%;
    }
    .ftsub{
        width: 75%;
    }
    .moreinfo{
        width: 80%;
    }
    .ext{
        width: 90%;
    }
    .question{
        width: 75%;
    }
    .getlink{
        flex-direction: column;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:375px){
    .list{
        flex-direction: column;
        line-height: 3rem;
    }
    .icon{
        gap: 2rem;
        width: 40%;
    }
    .get1 a{
        font-size: 14px;
    }
    .get2 a{
        font-size: 14px;
    }
    .list a{
        font-size: 15px;
    }
}